extend _layout

prepend html
  - custom.title = 'Home'
  - custom.body_cls = 'body--home'

block main
  section.home.body__inner
    .home__slider
      .owl-carousel.owl-theme
        .item
          a(href!="#").slider__button Ver más
        .item
          a(href!="#").slider__button Ver más
  section.home__categories
    h2 Categorías
    .home__categories__inner.row
      a(href!="#")
        .column.large-3.categories--golosinas
          p Golosinas
      .column.large-3
        a(href!="#")
          .categories--hogar
            p Hogar
        a(href!="#")
          .categories--chocolate
            p Chocolate
      .column.large-3
        a(href!="#")
          .categories--delicatessen
            p Delicatessen
        a(href!="#")
          .categories--snacks
            p Snacks
      .column.large-3
        a(href!="#")
          .categories--licores
            p Licores
        a(href!="#")
          .categories--tecnologia
            p Tecnología
  section.home__novedades.body__inner
    h2 Novedades
    .row
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
    
    .row.mas-vendidos
      h2 Lo más vendidos
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
    .button__vermas__home
      a(href!="#") Ver más
    
    .row.ofertas-especiales
      h2 Ofertas Especiales
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
    .button__vermas__home
      a(href!="#") Ver más

    

    

block scripts
  +requireTag('site.home')