.footer
  .body__inner
    .row
      .column.large-6
        .footer__logo
          img(src!=config.static_url("images/logo.png"))
        .footer__social
          p Encuentrános también en 
          .footer__social__ico
            a(href!="http://www.facebook.com", target="_blank")
              img(src!=config.static_url("images/ico-fb-blanco.png"))
            a(href!="http://www.instagram.com", target="_blank")
              img(src!=config.static_url("images/ico-instagram-blanco.png"))
      .column.large-3
        .footer__micuenta
          ul
            li Mi Cuenta
            li Regístrate
            li Actualiza tus datos
            li Cambia tu clave
            li ¿Olvidaste tu clave?
      .column.large-3
        .footer__servicio
          ul
            li Preguntas frecuentes
            li Tiempos y costos de envío
            li Cambios y devoluciones
            li Términos y condiciones