//-.MenuWeb
  .MenuWebContent
    .MenuWebContent-link
      | Menu 1
    .MenuWebContent-link
      | Menu 2
    .MenuWebContent-link
      | Menu 3

.header.body__inner
  .header__logo
    img(src!=config.static_url("images/logo.png"))
  .header__car
    .header__social
      p Encuentrános también en 
      .header__social__ico
        a(href!="http://www.facebook.com", target="_blank")
          img(src!=config.static_url("images/ico-fb.png"))
        a(href!="http://www.instagram.com", target="_blank")
          img(src!=config.static_url("images/ico-instagram.png"))
    a(href!="#").login__button
      p Ingresa
    .bolsa__compras
      .bolsa__compras__left
        p Bolsa de Compras
        p.count__products
          span 0 
          | Productos
      .bolsa__compras__right
        img(src!=config.static_url("images/ico-carrito.png"))
  .menu
    ul
      //-li
        a(href="#") Menu 1
        a(href="#") Menu 2
        a(href="#") Menu 3

      li
        #MenuMobile.BurgerMenu
          span
          span
          span
          span
          p Menu de Categorías
  .menuOpen
    .menuOpen__image
      img(src!=config.static_url("images/"))
    .menuOpen__list
      ul
        li 
          a(href!="#") Golosinas
        li 
          a(href!="#") Chocolate
        li 
          a(href!="#") Snacks
        li 
          a(href!="#") Delicatessen
        li 
          a(href!="#") Licores
        li 
          a(href!="#") Tecnología
        li 
          a(href!="#") Acerca de Nosotros
