body
  font-family _myriadpro
.header
  position relative
  .menu
    position absolute
    top 90px
    left 230px
  .menuOpen
    background _morado
    padding 20px 16px
    max-width 730px
    width 730px
    position absolute
    left 270px
    z-index 999
    display none
    .menuOpen__image
      width 320px
      height 320px
      border 1px solid
      display inline-block
      img
        width 100%
    .menuOpen__list
      display inline-block
      vertical-align top
      ul
          padding-right 40px
          border-right 1px solid _white
        li
          color _white
          font-size 18px
          margin 8px 0
          &:last-child
            font-family _myriadcond
            margin-top 35px
            text-transform uppercase
            letter-spacing .5px
          a
            color inherit 
            text-decoration none
  .header__logo
    display inline-block
    vertical-align top
    padding-top 30px
  .header__car
    text-align right 
    margin-left 15px
    width 1000px
    display inline-block
    vertical-align top
    font-size 12px
    padding 17px 0 34px 0
    border-bottom 3px solid _morado
    .header__social
      display inline-block
      vertical-align top
      p
        margin 0
        display inline-block
        color _turqueza
      .header__social__ico
        display inline-block
        img
          margin 0 5px 
          display inline-block
    .login__button
      width 110px
      background _morado
      display inline-block
      padding 5px 0
      text-align center
      margin 0 8px
      p
        display inline-block
        color _white
        margin 0
        &:before
          content ' '
          background url('../images/ico-user.png') no-repeat
          background-size cover
          width 11px
          height 11px
          display inline-block
          margin-right 5px
    .bolsa__compras
      color _morado
      display inline-block
      vertical-align top
      .bolsa__compras__left
      .bolsa__compras__right
        display inline-block
      .bolsa__compras__left
        vertical-align top
        p
          margin 0
        p.count__products
          font-family _myriadcond
          text-align right 
      .bolsa__compras__right
        vertical-align bottom
        margin-left 5px
  ul
    li
      list-style none

.footer
  background _turqueza
  color _white
  padding 20px 0
  .row
    max-width 100%
    width 100%
    .footer__logo,
    .footer__social
      display inline-block
      vertical-align top
    .footer__logo
      border-right 2px solid _white
      padding 30px 40px 40px 0
      margin-right 15px
    .footer__social
      p
        font-size 12px
        display inline-block
        vertical-align top
      .footer__social__ico
        display inline-block
        //vertical-align top
    .footer__micuenta,
    .footer__servicio
      ul
        li
          list-style none
          font-size 12px
          margin 5px 0
          &:first-child
            font-size 14px
            margin-bottom 15px 



.body--home
  .home
    .home__slider
      margin-top 50px
      .owl-carousel
        .item
          width 100%
          border 1px solid
          height 470px
          position relative
          .slider__button
            background _amarillo
            width 315px
            border-radius 8px
            color _white
            font-size 28px
            text-transform uppercase
            text-align center
            padding 25px 0
            display block
            text-decoration none
            position absolute
            left 0 
            right 0 
            margin 0 auto
            bottom 20px
  .home__categories
    background _turqueza
    padding 35px 0 70px 0
    h2 
      color _white
      font-size 28px
      text-align center
      margin-top 0
    .home__categories__inner
      width 1240px
      max-width 1240px
      .column
        margin 0 3px
        text-align center
        //position relative
        &:first-child
          margin-left 15px
          height 575px
          background _green2
        &:last-child
          margin-right 0
        &.large-3
          width 24%
        p
          font-size 43px
          color _white
          margin 0 
          position absolute
          bottom 15px
          left 0 
          right 0
        .categories--hogar
          background _orange
          height 185px
          position relative
        .categories--golosinas
          position relative
        .categories--chocolate
          height 380px
          position relative
          background _brown
          margin-top 10px
        .categories--delicatessen
          background _amarillo
          height 185px
          position relative
        .categories--snacks
          height 380px
          position relative
          background _gris
          margin-top 10px
        .categories--licores
          background _red
          height 185px
          position relative
        .categories--tecnologia
          height 380px
          position relative
          background _white
          margin-top 10px
          p
            color _morado
  .home__novedades
    h2
      color _morado
      font-size 28px
      text-align center
    .row
      width 1240px
      max-width 1240px
      margin-bottom 25px
    .novedad
      padding 5px
      .novedad__image
        background red
        width 100%
        img
          width 100%
      .novedad__info
        color _black
        padding 8px
        border 2px solid _gris2
        border-top 2px solid _amarillo
        p
          margin 5px 0 
        .novedad__info__marca
          font-size 9px
        .novedad__info__nombre
          font-size 12px
        .novedad__info__precio
          font-size 14px
    .mas-vendidos
      h2 
        color _turqueza
        font-size 20px
        margin-top 0
        margin-bottom 10px
        text-align left
      .novedad
        .novedad__info
          border-top 2px solid _turqueza
    .button__vermas__home
      text-transform uppercase
      font-size 11px
      text-align right
      margin-top -12px
      margin-right 5px
      margin-bottom 20px
      a
        display inline-block
        width 64px
        background _amarillo
        color _white
        text-decoration none
        padding 12px 0
        text-align center
    
    .ofertas-especiales
      h2 
        color _turqueza
        font-size 20px
        margin-top 0
        margin-bottom 10px
        text-align left
        padding-top 15px
        border-top 1px dashed _morado
