@css {

  @font-face {
    font-family: 'gotham_ultraregular';
    src: url('../fonts/gotham-ultra_0-webfont.eot');
    src: url('../fonts/gotham-ultra_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-ultra_0-webfont.woff') format('woff'),
         url('../fonts/gotham-ultra_0-webfont.ttf') format('truetype'),
         url('../fonts/gotham-ultra_0-webfont.svg#gotham_ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Myriad Condensed Web';
    src: url('../fonts/Myriad-CnWeb.eot');
    src: url('../fonts/Myriad-CnWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Myriad-CnWeb.woff2') format('woff2'),
        url('../fonts/Myriad-CnWeb.woff') format('woff'),
        url('../fonts/Myriad-CnWeb.ttf') format('truetype'),
        url('../fonts/Myriad-CnWeb.svg#Myriad-CnWeb') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'Myriad Pro';
      src: url('../fonts/MyriadPro-Semibold.eot');
      src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
          url('../fonts/MyriadPro-Semibold.woff') format('woff'),
          url('../fonts/MyriadPro-Semibold.ttf') format('truetype'),
          url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
      font-weight: 600;
      font-style: normal;
  }

}
